/* retirando valores padrões */
* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}

@media only screen and (max-width: 700px) {

    /********* header *********/

    header {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        top: 0;
        background-color: #7d0f0f;
        color: #ffe2e2;
    }

    header .titulo {
        text-align: center;
        margin-left: 10px;
        font-family: Cambria;
        color: #ffe2e2;
    }

    header ul {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100%;
    }

    header ul li {
        padding: 10px 0;
        background-color: #7d0f0f;
    }

    header ul :hover {
        color: rgba(238, 8, 8, 0.825);
    }

    header ul li a {
        padding: 10px 0;
        transition: all 0.2s ease;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        color: #cfcdcd;
    }

    /************* parte imagem + texto ***********/

    .texto {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 32px 0 32px 0;
        background-color: #ead2d2;
    }

    .texto img {
        max-width: 300px;
        max-height: 300px;
        margin-right: 50px;
        border-radius: 50%;
    }

    .texto .texto_elemento {
        width: 100%;
        margin-left: 20px;
    }

    .subtitulo {
        padding: 5px;
        font-size: 1.3rem;
        font-weight: bold;
    }

    .texto_elemento p {
        padding: 15px 20px 0 5px;
        text-align: justify;
        font-family: Cambria;
        line-height: 1.5;
    }

    /************* parte das listas *************/

    .listas {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        background-color: #d60c0c92;
    }

    .lista_top5,
    .lista_hobbies {
        display: inline-flex;
        flex-direction: column;
    }

    .lista_hobbies h4,
    .lista_top5 h4 {
        align-self: left;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 20px;
        font-size: 1.7rem;
    }

    .listas div ul {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        padding-bottom: 20px;
    }

    .listas div ul li {
        display: inline-flex;
        align-items: flex-end;
        width: 110px;
        height: 150px;
        margin: 8px;
        margin-left: 6px;
        padding-bottom: 10px;
        border-radius: 4px;
        justify-content: center;
        text-align: center;
        background-color: #cb2e2e;
        box-shadow: 3px 3px 1px #8f1414b1;
        color: #ffffff;
    }

    .games {
        background-image: url(imagens/knight.png);
        max-width: 110px;
        max-height: 150px;
    }

    .music {
        background-image: url(imagens/musica.png);
        max-width: 110px;
        max-height: 150px;
    }

    .role {
        background-image: url(imagens/caipirinha.png);
        max-width: 110px;
        max-height: 150px;
    }

    .sing {
        background-image: url(imagens/oli.png);
        max-width: 110px;
        max-height: 150px;
    }

    .felps {
        background-image: url(imagens/felps.png);
        max-width: 110px;
        max-height: 150px;
    }

    .meteora {
        background-image: url(imagens/meteora.png);
        max-width: 110px;
        max-height: 150px;
    }

    .minutes {
        background-image: url(imagens/minutes.png);
        max-width: 110px;
        max-height: 150px;
    }

    .hybrid {
        background-image: url(imagens/hybrid.png);
        max-width: 110px;
        max-height: 150px;
    }

    .name {
        width: 110px;
        max-width: 110px;
        max-height: 150px;
        transform: translate(0, 10px);
        padding: 2px;
        border-radius: 3px;
        font-family: Cambria;
        background-color: #cb2e2e;
    }

    /*************** footer *************/

    footer {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-top: 20px;
        background-color: #7d0f0f;
    }

    .rodape {
        display: inline-flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .contato button {
        display: inline-block;
        text-align: center;
        border: none;
        padding: 8px 40px;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 15px;
        cursor: pointer;
        text-decoration: none;
        background-color: #d45151;
        color: #000000;
    }

    .direitos {
        color: #ffffff;
    }

}


@media NOT screen and (max-width: 700px) {

    /*************  header  *************/

    header {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 10vh;
        top: 0;
        font-size: 1rem;
        background-color: #7d0f0f;
    }

    header .titulo {
        text-align: center;
        margin-left: 50px;
        font-family: Cambria;
        color: #ffe2e2;
    }

    header .menu {
        align-self: right;
        margin-right: 50px;
    }

    header ul {
        display: flex;
        min-width: 250px;
        padding: 20px;
        list-style: none;
    }

    header ul li {
        margin: 0 10px;
    }

    header ul li a {
        padding: 10px 0;
        font-size: 1rem;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.2s ease;
        color: #cfcdcd;
    }

    header ul li a:hover {
        color: rgba(238, 8, 8, 0.825);
    }

    /************ parte da imagem + texto ************/

    .texto {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 45vh;
        padding: 32px 0 32px 0;
        background-color: #ead2d2;
    }

    .texto img {
        max-width: 300px;
        max-height: 300px;
        margin-right: 50px;
        border-radius: 50%;
    }

    .texto .texto_elemento {
        max-width: 500px;
        min-width: 300px;
        margin-left: 80px;
        text-align: justify;
        font-family: Cambria;
        font-size: 1.09rem;
        line-height: 1.5;
    }

    .subtitulo {
        padding-bottom: 15px;
        font-family: Cambria;
        font-size: 1.3rem;
        font-weight: bold;
    }

    /*************  parte das listas ****************/

    .listas {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        background-color: #d60c0c92;
    }

    .lista_top5,
    .lista_hobbies {
        display: inline-flex;
        flex-direction: column;
        width: 50%;
    }

    .lista_hobbies {
        align-items: flex-end;
        margin-right: 30px;
    }

    .lista_top5 {
        align-items: flex-start;
        margin-left: 30px;
    }

    .lista_hobbies h4,
    .lista_top5 h4 {
        padding: 40px 0 0 0;
        font-family: Cambria;
        font-size: 1.5rem;
    }

    .lista_hobbies h4 {
        text-align: right;
    }

    .lista_top5 h4 {
        text-align: left;
    }

    .listas div ul {
        display: inline-flex;
        flex-wrap: wrap;
        padding: 40px 0 60px 0;
        align-items: center;
        list-style: none;
    }

    .listas .lista_hobbies ul {
        flex-direction: row-reverse;
    }

    .listas .lista_top5 ul {
        flex-direction: row;
    }

    .listas div ul li {
        display: inline-flex;
        align-items: flex-end;
        justify-content: center;
        width: 110px;
        height: 150px;
        margin: 2px;
        margin-left: 6px;
        padding-bottom: 10px;
        border-radius: 4px;
        text-align: center;
        font-family: Cambria;
        background-color: #cb2e2e;
        box-shadow: 3px 3px 1px #8f1414b1;
        color: #ffffff;
    }

    .games {
        background-image: url(imagens/knight.png);
    }

    .music {
        background-image: url(imagens/musica.png);
    }

    .role {
        background-image: url(imagens/caipirinha.png);
    }

    .sing {
        background-image: url(imagens/oli.png);
    }

    .felps {
        background-image: url(imagens/felps.png);
    }

    .meteora {
        background-image: url(imagens/meteora.png);
    }

    .minutes {
        background-image: url(imagens/minutes.png);
    }

    .hybrid {
        background-image: url(imagens/hybrid.png);
    }

    .name {
        width: 110px;
        transform: translate(0, 10px);
        padding: 2px;
        border-radius: 3px;
        font-family: Cambria;
        background-color: #cb2e2e;
    }

    /*************  footer  ************/

    footer {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        background-color: #7d0f0f;
    }

    .rodape {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 50px 0 50px;
    }

    .contato button {
        display: inline-block;
        text-align: center;
        margin: 4px 2px;
        padding: 8px 22px;
        border: none;
        cursor: pointer;
        border-radius: 15px;
        text-decoration: none;
        font-family: Cambria;
        font-size: 16px;
        background-color: #d45151;
        color: #200808;
        transition: all 0.2s ease;
    }

    .contato button:hover {
        color: #ead2d2;
    }

    .direitos h4 {
        text-align: center;
        font-size: 1rem;
        font-family: Cambria;
        color: #ffffff;
    }
}